@using System.Web.Mvc.Html
@using System.Web.Mvc
@using FluentSharp.CoreLib
@using TeamMentor.CoreLib
@inherits WebViewPage

@{
    ViewBag.Title = "Edit Markdown page";
    Layout = "_Layout.cshtml";    
}

<link rel="stylesheet" type="text/css" href="/javascript/MarkdownDeep/mdd_styles.css" />
<script type="text/javascript" src="/Javascript/jQuery/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="/javascript/MarkdownDeep/MarkdownDeepLib.min.js"></script>

<script type="text/javascript">
    $(function ()
    {           
        var extraMode = @(MarkdownDeep_ExtensionMethods.ExtraMode ? "true" : "false");
        var safeMode  = @(MarkdownDeep_ExtensionMethods.SafeMode ? "true" : "false");
            $("textarea.mdd_editor").MarkdownDeep(
                {
                    help_location:"/javascript/MarkdownDeep/mdd_help.htm",                
                    ExtraMode    :  extraMode,
                    SafeMode     :  safeMode
                });

            $(".mdd_preview").height("100pc");
            $(".mdd_editor").height("100pc");

            $("#backToArticle").click(function()
                {
                    document.location = "/article/@ViewBag.ArticleId";
                });  
        })
</script>


<form action="/Markdown/SaveContent" method="post">
    
    <h3>Article Editor</h3>       
    <br />

    <input class="btn btn-primary" type="submit" value="Save" />
     (<a href = "/article/@ViewBag.ArticleId">back to article</a>)
    <br/>
    <br />
    <!--
        <input class="btn btn-Info" type="button" value="Back to article" id="backToArticle" />    
    -->
    
            
     <div class="input-prepend">
                <span class="add-on" style="width:100px;">Title</span>
                <input type="text" style="width:530px;" required value="@ViewBag.Article_Title" name="title"/>
     </div><br/>
    <b>Metadata:</b><br/>
            <div class="input-prepend">
                <span class="add-on" style="width:100px;">Technology</span>
                <input type="text" style="width:200px;" maxlength="50"          value="@ViewBag.Article_Technology"  name="technology"/>
            </div>       
            <div class="input-prepend">
                <span class="add-on" style="width:100px;">Phase</span>
                <input type="text" style="width:200px;" maxlength="50"          value="@ViewBag.Article_Phase" name="phase"/>
            </div><br/>
            <div class="input-prepend">
                <span class="add-on" style="width:100px;">Type</span>
                <input type="text" style="width:200px;" maxlength="50"          value="@ViewBag.Article_Type" name="type"/>
            </div>
            <div class="input-prepend">
                <span class="add-on" style="width:100px;">Category</span>
                <input type="text" style="width:200px;" maxlength="30"          value="@ViewBag.Article_Category" name="category"/>
            </div>
    <br />
    <b>Article Format and Link:</b><br/>
    <div class="input-prepend">
        <span class="add-on" style="width:100px;">Data Type</span>
        <select name="DataType" style="width:215px">
            <option value="html"     @(ViewBag.Article_DataType.ToLower() == "html"     ? "selected" : "")>Html</option>
            <option value="wikitext" @(ViewBag.Article_DataType.ToLower() == "wikitext" ? "selected" : "")>WikiText</option>
            <option value="markdown" @(ViewBag.Article_DataType.ToLower() == "markdown" ? "selected" : "")>Markdown</option>
        </select>
    </div>
    <div class="input-prepend">
        <span class="add-on" style="width:100px;">Direct Link</span>
        <input type="text" style="width:200px;"        value="@ViewBag.DirectLink" name="directLink"/>
    </div>
    <table style="border-spacing: 10px;border-collapse: separate; width:80pc">
        <thead>
            <tr>
                <th><h3>Markdown</h3></th>
                <th><h3>Html Preview</h3></th>
            </tr>
        </thead>
        <td width="50%" style="height: 100pc;">
            @Html.TextArea("Content", new { @class = "mdd_editor" })
        </td>
        <td width="50%" style="height: 100pc; border:1px;border-style:solid; padding: 10px;">
            <div class="mdd_preview"></div>
        </td>
    </table>
    <input name="articleId" value="@ViewBag.ArticleId" type="hidden"/>   
</form>