
@using System
@using System.Linq
@using FluentSharp.CoreLib
@using TeamMentor.CoreLib

@{        
    var count = 0;
    var nameFilter    = HttpContextFactory.Request["nameFilter"];
    var emailFilter   = HttpContextFactory.Request["emailFilter"];    
    var orderBy       = HttpContextFactory.Request["orderBy"];    
    var userData = TM_UserData.Current;
    var allUsers = userData.tmUsers();
    var tmUsers  = (from user in allUsers
                    where nameFilter.notValid()  || user.UserName.regEx(nameFilter)
                    where emailFilter.notValid() || user.EMail.regEx(emailFilter)
                    select user).toList();;    
 
    switch(orderBy.lower())
    {
        case "email":
            tmUsers = tmUsers.OrderBy((user)=> user.EMail).toList();
            break;
        case "fullname":
            tmUsers = tmUsers.OrderBy((user)=> "{0} {1}".format(user.FirstName, user.LastName)).toList();
            break;            
        case "created":
            tmUsers = tmUsers.OrderBy((user)=> user.Stats.CreationDate).Reverse().toList();
            break;
        case "group":
            tmUsers = tmUsers.OrderBy((user)=> user.userGroup()).toList();
            break;
        case "status":
            tmUsers = tmUsers.OrderBy((user)=> user.userStatus()).toList();
            break;                    
        case "activities":
            tmUsers = tmUsers.OrderBy((user)=> user.UserActivities.size()).Reverse().toList();
            break;            
        case "sessions":
            tmUsers = tmUsers.OrderBy((user)=> user.Sessions.size()).Reverse().toList();
            break;            
        default:
            tmUsers = tmUsers.OrderBy((user)=> user.UserName).toList();
            break;
    }
    
    Func<string,string> orderBySelection =(value)=>
        {
            if (value==orderBy)
                return "selected";
            return "";        
        };
        
    Func<string,string> cssForUserGroup =(group)=>
        {             
            switch(group.lower())
            {
                case "admin":
                    return "danger";
                case "editor":
                    return "warning";
                case "reader":
                    return "primary";
            }
            return "info";
        };  
        
        
    Func<string,string> cssForUserStatus =(status)=>
        {             
            switch(status.lower())
            {
                case "account expired":
                    return "info";
                case "disabled":
                    return "danger";
                case "enabled":
                    return "success";
            }
            return "default";
        };          
}

<style>
    .alert-small {
                padding: 8px 8px 8px 15px;
                width  : 720px;
           }
</style>

<h4>Current users </h4>
       
<div class="alert alert-success alert-block alert-small">
    <form class="form-inline" action="Current_Users" method="get">
        <div class="form-group">
            Name:
            <input type="text" class="form-control" name="nameFilter" placeholder="filter regEx" value="@nameFilter">
        </div>
        <div class="form-group">
            Email:
            <input type="text" class="form-control" name="emailFilter" placeholder="filter regEx" value="@emailFilter">
        </div>        
        <div class="form-group">
            Sort By:
            <select name="orderBy" class="form-control">
                <option value="UserName"   @orderBySelection("UserName") >User Name</option>
                <option value="FullName"   @orderBySelection("FullName") >Full Name</option>
                <option value="Email"      @orderBySelection("Email")    >Email</option>
                <option value="Created"    @orderBySelection("Created")  >Created</option>
                <option value="Group"      @orderBySelection("Group")    >Group</option>
                <option value="Status"     @orderBySelection("Status")   >Status</option>
                <option value="Activities" @orderBySelection("Activites")>Activities</option>
                <option value="Sessions"   @orderBySelection("Sessions") >Sessions</option>
            </select>
        </div>

        <button type="submit" class="btn btn-default">filter</button>
        
    </form>             
</div>
<script>
    @*
        The reason the field initials are used below, is due to shave of about 10% of page size
           UN = UserName
           FN = FirstName
           EM = EMail
           CR = Creation Date
           UG = User Group
           US = User Status
    *@
    var tmUserData = [
        @foreach(var tmUser in tmUsers)
        {
            @: { "UN"   : "@tmUser.UserName" ,  
            @:   "FN"   : "@tmUser.FirstName @tmUser.LastName", 
            @:   "EM"   : "@tmUser.EMail" ,
            @:   "CR"   : "@tmUser.Stats.CreationDate.ToString("MMM/dd/yyyy")",
            @:   "UG"   : "@tmUser.userGroup().str()",
            @:   "US"   : "@tmUser.userStatus().str()",
            @:   "AC"   : "@tmUser.UserActivities.size()",
            @:   "SE"   : "@tmUser.Sessions.size()" } ,
        }
    ]
</script>
<p>Showing @tmUsers.size() out of @allUsers.size()</p>
<script type="text/javascript">
    
    
    var tbot = angular.module("tbot");
    
    tbot.controller("TMUsers", function($scope,$http, $timeout)
        { 
            _scope = $scope;
            $scope.count = 0;
            $scope.tmUserData = tmUserData;
        });

</script>

<div ng-controller="TMUsers">    
    <table class="table table-striped table-condensed">
        <tr>
            <th>#</th> 
            <th>UserName</th>
            <th>FullName</th>
            <th>Email</th>   
            <th>Created</th>            
            <th>Group</th>
            <th>Status</th>
            <th>Activities</th>
            <th>Sessions</th>            
        </tr> 
        <tr ng-repeat ="tmUser in tmUserData">
            <td>{{$index=1}}</td>
            <td>{{tmUser.UN}}</td>
            <td>{{tmUser.FN}}</td>
            <td>{{tmUser.EM}}</td>
            <td>{{tmUser.CR}}</td>
            <td>{{tmUser.UG}}</td>
            <td>{{tmUser.US}}</td>
            <td>{{tmUser.AC}}</td>
            <td>{{tmUser.SE}}</td>
        </tr>
    </table>
</div>


