
@using System
@using System.Linq
@using FluentSharp.CoreLib
@using TeamMentor.CoreLib

<style>
    .alert-small 
        {
            padding: 8px 8px 8px 15px;
            width  : 750px;
        }
    .pointer 
        {
            cursor : pointer
        }
</style>

<h4>Current users </h4>

<script>
    @{
        // transform the data into a json object
        var userData = TM_UserData.Current;
     }
     var tmUserData = [
                        @foreach(var tmUser in userData.tmUsers())
                        {
                            @: { "UserName"   : "@tmUser.UserName.replace("\\","\\\\")" ,  
                            @:   "FullName"   : "@tmUser.FirstName @tmUser.LastName"    , 
                            @:   "EMail"      : "@tmUser.EMail"                         ,
                            @:   "Created"    :  @tmUser.Stats.CreationDate.jsDate()    ,
                            @:   "Group"      : "@tmUser.userGroup().str()"             ,
                            @:   "Status"     : "@tmUser.userStatus().str()"            ,
                            @:   "Activities" :  @tmUser.UserActivities.size()          ,
                            @:   "Sessions"   :  @tmUser.Sessions.size()                ,
                            @:   "Tags"       :  @tmUser.UserTags.size()              } , 
                        }
                    ];
</script>

<script type="text/javascript">
    
    
    var tbot = angular.module("tbot");
    
    tbot.controller("TMUsers", function($scope,$http, $timeout, $filter)
        { 
            _scope = $scope;
            $scope.count = 0;
            $scope.tmUserData = tmUserData;
                        
            $scope.cssForUserGroup = function(userGroup)
                {   
                    var baseCss = "label label-";
                    switch (userGroup.toLowerCase())
                    {
                         case "admin":
                            return baseCss + "danger";
                        case "editor":
                            return baseCss + "warning";
                        case "reader":
                            return baseCss + "primary";
                        default:
                            return baseCss + "info";        
                    }                    
                };
             $scope.cssForUserStatus = function(userStatus)
                {  
                    var baseCss = "label label-";
                    switch (userStatus.toLowerCase())
                    {
                         case "account expired":
                            return baseCss + "info";
                        case "disabled":
                            return baseCss + "danger";
                        case "enabled":
                            return baseCss + "success";
                        default:
                            return baseCss + "default";        
                    }                    
                };   
            
            $scope.setOrderBy = function(value)
                {
                    if ($scope.orderBy === value)
                        $scope.orderByReverse = !$scope.orderByReverse;
                    else
                        $scope.orderBy = value;                    
                };

            $scope.applyFilter = function() 
                {       
                        if ($scope.showSearchingIcon)        //don't apply the filter if we are currently searching
                            return;
                        $scope.showSearchingIcon  = true;
                        $timeout(function() {
                                                $scope.filteredUsers = $filter('filter')($scope.tmUserData, {UserName: $scope.nameFilter , EMail: $scope.emailFilter});                        
                                                $scope.filteredUsers = $filter('orderBy')($scope.filteredUsers, $scope.orderBy, $scope.orderByReverse);
                                                $scope.showSearchingIcon  = false;
                                            },150);
                };
                        
            $scope.orderByFields = ["UserName","FullName","EMail","Created", "Group","Status","Activities","Tags","Sessions"]; 
            $scope.orderBy       = "UserName";
            $scope.filteredUsers = [];
            
            $scope.$watch('emailFilter'     ,$scope.applyFilter); 
            $scope.$watch('nameFilter'      ,$scope.applyFilter); 
            $scope.$watch('orderBy'         ,$scope.applyFilter);            
            $scope.$watch('orderByReverse'  ,$scope.applyFilter);
           
       });

</script>

<div ng-controller="TMUsers">         
    <div class="alert alert-success alert-block alert-small">
        <form class="form-inline" action="Current_Users" method="get">
            <div class="form-group">
                Name:
                <input type="text" class="form-control" placeholder="filter" ng-model="nameFilter">
            </div>
            <div class="form-group">
                Email:
                <input type="text" class="form-control" placeholder="filter" ng-model="emailFilter">
            </div>        
            <div class="form-group">
                Order By:
                <select     class="form-control"     ng-model  = "orderBy"        name="orderBy">                                           
                    <option value="{{orderByField}}" ng-repeat = "orderByField in orderByFields">
                        {{orderByField}}
                    </option>
                </select>              
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="orderByReverse"/> Reverse 
                    </label>
                </div>                
            </div>
        </form>                          
    </div>
    
    <p>
        <b>Showing {{filteredUsers.length}} out of {{tmUserData.length}}</b>        
        <span class="glyphicon glyphicon-search" ng-show="showSearchingIcon"></span>        
        
    </p>

    <table class="table table-striped table-condensed">
        <tr>
            <th>#</th> 
            <th class="col-sm-2 pointer" ng-click="setOrderBy('UserName')"  >UserName</th>
            <th class="col-sm-2 pointer" ng-click="setOrderBy('FullName')"  >FullName</th>
            <th class="col-sm-4 pointer" ng-click="setOrderBy('EMail')"     >EMail</th>   
            <th class="col-sm-1 pointer" ng-click="setOrderBy('Created')"   >Created</th>            
            <th class="col-sm-1 pointer" ng-click="setOrderBy('Group')"     >Group</th>
            <th class="col-sm-1 pointer" ng-click="setOrderBy('Status')"    >Status</th>
            <th class="         pointer" ng-click="setOrderBy('Activities')">Activities</th>                      
            <th class="         pointer" ng-click="setOrderBy('Tags')"      >Tags</th>     
            <th class="         pointer" ng-click="setOrderBy('Sessions')"  >Sessions</th>  
        </tr> 
            
        <tr ng-repeat ="tmUser in filteredUsers">
            <td>{{$index+1}}</td>
            <td><a ng-href="User_Edit?{{tmUser.UserName}}" target="_blank">{{tmUser.UserName}}</a> </td>                            
            <td>{{tmUser.FullName}}</td>
            <td>{{tmUser.EMail}}   </td>
            <td>{{tmUser.Created | date:'dd MMM yyyy'}}</td>
                     
            <td><span ng-class="cssForUserGroup(tmUser.Group)"  >{{tmUser.Group}}</span></td>
            <td><span ng-class="cssForUserStatus(tmUser.Status)">{{tmUser.Status}}</span></td>              
            <td><a    ng-href="User_Activities?user={{tmUser.UserName}}&max=50"  target="_blank">{{tmUser.Activities}}</a></td>
            <td>{{tmUser.Tags}}</td>        
            <td>{{tmUser.Sessions}}</td>                        
        </tr>
    </table>
</div>