
@using System
@using System.Linq
@using FluentSharp.CoreLib
@using TeamMentor.CoreLib

@{
    var count = 0;
    var nameFilter    = HttpContextFactory.Request["nameFilter"];
    var emailFilter   = HttpContextFactory.Request["emailFilter"];    
    var orderBy       = HttpContextFactory.Request["orderBy"];    
    var userData = TM_UserData.Current;
    var allUsers = userData.tmUsers();
    var tmUsers  = (from user in allUsers
                    where nameFilter.notValid()  || user.UserName.regEx(nameFilter)
                    where emailFilter.notValid() || user.EMail.regEx(emailFilter)
                    select user).toList();;    
 
    switch(orderBy.lower())
    {
        case "email":
            tmUsers = tmUsers.OrderBy((user)=> user.EMail).toList();
            break;
        case "fullname":
            tmUsers = tmUsers.OrderBy((user)=> "{0} {1}".format(user.FirstName, user.LastName)).toList();
            break;            
        case "created":
            tmUsers = tmUsers.OrderBy((user)=> user.Stats.CreationDate).toList();
            break;            
        case "activities":
            tmUsers = tmUsers.OrderBy((user)=> "{0} {1}".format(user.FirstName, user.LastName)).toList();
            break;            
        case "sessions":
            tmUsers = tmUsers.OrderBy((user)=> "{0} {1}".format(user.FirstName, user.LastName)).toList();
            break;            
        default:
            tmUsers = tmUsers.OrderBy((user)=> user.UserName).toList();
            break;
    }
    
    Func<string,string> orderBySelection =(value)=>
        {
            if (value==orderBy)
                return "selected";
            return "";        
        };
                    
                    
}

<style>
    .alert-small {
                padding: 8px 8px 8px 15px;
                width  : 720px;
           }
</style>

<h4>Current users </h4>
       
<div class="alert alert-success alert-block alert-small">
    <form class="form-inline" action="Current_Users" method="get">
        <div class="form-group">
            Name:
            <input type="text" class="form-control" name="nameFilter" placeholder="filter regEx" value="@nameFilter">
        </div>
        <div class="form-group">
            Email:
            <input type="text" class="form-control" name="emailFilter" placeholder="filter regEx" value="@emailFilter">
        </div>        
        <div class="form-group">
            Sort By:
            <select name="orderBy" class="form-control">
                <option value="UserName"   @orderBySelection("UserName") >User Name</option>
                <option value="FullName"   @orderBySelection("FullName") >Full Name</option>
                <option value="Email"      @orderBySelection("Email")    >Email</option>
                <option value="Created"    @orderBySelection("Created")  >Created</option>
                <option value="Activities" @orderBySelection("Activites")>Activities</option>
                <option value="Sessions"   @orderBySelection("Sessions") >Sessions</option>
            </select>
        </div>

        <button type="submit" class="btn btn-default">filter</button>
        
    </form>             
</div>

<p>Showing @tmUsers.size() out of @allUsers.size()</p>
      
<table class="table table-striped table-condensed">
        <tr>
            <th>#</th> 
            <th>UserName</th>
            <th>FullName</th>
            <th>Email</th>   
            <th>Created</th>            
            <th>Group</th>
            <th>Activities</th>
            <th>Sessions</th>
            <th>User Id</th>
            <th>Actions</th>         
        </tr>   
        @foreach (var tmUser in tmUsers)
        {
            <tr>
                <td>@(++count)</td>
                <td><a href="User_View?user=@tmUser.UserName">@tmUser.UserName</a></td>                
                <td>@tmUser.FirstName @tmUser.LastName</td>
                <td>@tmUser.EMail</td>                
                <td>@tmUser.Stats.CreationDate.ToString("MMM/dd/yyyy")</td>                
                <td>@tmUser.userGroup()</td>
                <td>@tmUser.UserActivities.size()</td>
                <td>@tmUser.Sessions.size()</td>
                <td><a href="User_View?user=@tmUser.UserID"  >@tmUser.UserID</a></td>                
                <td>
                    <a href="User_Edit?@tmUser.UserName">edit user</a> | 
                    <a href="User_Activities?user=@tmUser.UserName&max=50">view activity</a>
                </td>

            </tr>
        }
    </table>
