@using TeamMentor.CoreLib;
@{
    var rest_Admin = new TM_REST();
    UserGroup.Admin.setThreadPrincipalWithRoles(); //elevate privileges during dev
    var users = rest_Admin.users();
}
<h1>Here are the current users:</h1>
<table border="1">
    @foreach (var user in users)
    {
     <tr>
     <td><a href="userData?userName=@user.UserName" userid="@user.UserId">@user.UserName</a></td><td> @user.UserId</td><td id="CreatedDate">@user.CreatedDate</td><td id="Actions">@user.Email</td>
     </tr>
    }
</table>
