
@using TeamMentor.CoreLib
@using FluentSharp

@{
    var tmRest = (TeamMentor.CoreLib.TM_REST) @Model;
    var users  = tmRest.users();
}
<h4>Current users:</h4>

    <table class="table table-striped table-condensed">
        <tr>
            <th>Name</th>            
            <th>User Id</th>
            <th>Created</th>            
            <th>Email</th>            
        </tr>   
        @foreach (var user in users)
        {
            <tr>
                <td><a href="userData?userName=@user.UserName&max=50" userid="@user.UserId">@user.UserName</a></td>                
                <td> @user.UserId</td>
                <td id="CreatedDate">@user.CreatedDate.fromFileTimeUtc()</td>
                <td id="Actions">@user.Email</td>
            </tr>
        }
    </table>
