
@using O2.DotNetWrappers.ExtensionMethods
@using TeamMentor.CoreLib

@{
    var userData = TM_UserData.Current;
    var userName   = System.Web.HttpContext.Current.Request["userName"];
    var tmUser = userData.TMUsers.user(userName);

    Func<long, string> toDate = (date) => DateTime.FromFileTimeUtc(date).str();
}

<h3>User details</h3>
@if(tmUser.notNull())
{
<text>ID: @tmUser.ID
UserID: @tmUser.UserID
UserName: @tmUser.UserName
        
    <h3>User Activity</h3>
</text>
    @: <table><tr><td><b>Name</b></td><td><b>Details</b></td><td><b>When</b></td></tr>
    foreach (var userActivity in tmUser.UserActivities)
    {
        @: <tr><td>@userActivity.Name </td><td>@userActivity.Detail </td><td>@toDate(userActivity.When) </td></tr>
    }
    @: </table>
    <text>
    
<hr/>
<h3>Raw Data</h3>
@tmUser.toXml();
    </text>
}