
@using O2.DotNetWrappers.ExtensionMethods
@using TeamMentor.CoreLib
@using FluentSharp

@{
    var userData = TM_UserData.Current;
    var userName   = System.Web.HttpContext.Current.Request["userName"];
    var max   = System.Web.HttpContext.Current.Request["max"].toInt();
    var tmUser = userData.tmUser(userName);

    if (max == 0)
    {
        max = 50;
    }
    var index = tmUser.UserActivities.size();
}

<a href="User_View?userName=@tmUser.UserName" class="btn btn-info" disabled>View User</a>
<a href="User_Edit?@tmUser.UserName" class="btn btn-info" >Edit User</a>
<a href="User_Activities?userName=@tmUser.UserName" class="btn btn-info" >View Activity/Logs</a>
<a href="User_Raw?userName=@tmUser.UserName">Raw/Xml Data</a>

@if (tmUser.notNull())
{
    <h4>User details</h4>
    <ul>
        <b>User Name:       </b> @tmUser.UserName <br/>
        <b>Email:           </b> @tmUser.EMail <br/>
        <b>First Name:      </b> @tmUser.FirstName <br/>              
        <b>Last Name:       </b> @tmUser.LastName <br/>             
        <b>Company:         </b> @tmUser.Company <br/>             
        <b>Job/Title:       </b> @tmUser.Title <br/>             
        <b>County:          </b> @tmUser.Country <br/>             
        <b>State:           </b> @tmUser.State <br/>             
        <b>GroupID:         </b> @tmUser.GroupID <br/>
        <b>Account Expires: </b> @tmUser.AccountStatus.ExpirationDate.ToString("MMM/dd/yyyy")<br/>            
        <b>Account Enabled: </b> @tmUser.AccountStatus.UserEnabled <br/>            
        <b>PasswordExpired: </b> @tmUser.AccountStatus.PasswordExpired  <br/>                                    
    </ul>
    <h5>Stats</h5>
    <ul>                                     
        <b>Creation Date:   </b> @tmUser.Stats.CreationDate <br/>
        <b>Last Login:      </b> @tmUser.Stats.LastLogin <br/>
        <b>Login Ok:        </b> @tmUser.Stats.LoginOk<br/>
        <b>Login Fail:      </b> @tmUser.Stats.LoginFail <br/>              
    </ul>    
    <h5>Internal info</h5>
    <ul>                   
        <b>ID:              </b> @tmUser.ID <br/>
        <b>User ID:         </b> @tmUser.UserID <br/>   
        <b>SessionID:       </b> @tmUser.SecretData.SessionID <br/>
    </ul>
    
    <h5>User Actions</h5>
    <ul>
        <li>  <b>Password Forgot and Reset: </b>
            <ul>                
                <li><a href="/passwordForgot" target="_blank" >open password forgot page</a> (you will need to provide the user's email)</li>
                <li><a href="/rest/redirect/passwordReset/@tmUser.UserID" target="_blank" >open password reset page</a> with valid token (use to change user's pwd)</li>
            </ul
        </li>
    </ul>
@*    <ul>
        <li><b>SingleUse Token: </b> @tmUser.SecretData.SingleUseLoginToken  
            <ul>
                <li><a href="/rest/loginToken/@tmUser.UserName" target="_blank" >renew</a> </li>
                <li><a href="/rest/redirect/afterLoginToken/@tmUser.UserName/@tmUser.SecretData.SingleUseLoginToken">use token</a> and login as user (you will lose your current admin session)</li>
            </ul>
         </li>                                                                    
    </ul>
*@   
    
}
else
{
    <p>No user found</p>
}

<hr/>
<a href="Current_Users">back to users list</a>