
@using System
@using System.Collections.Generic
@using FluentSharp.CoreLib
@using FluentSharp.CoreLib.API
@using TeamMentor.CoreLib

@{
    var tmRest    = (TM_REST) @Model;
    var session   = HttpContextFactory.Session;
    var log_Lines = tmRest.Admin_Logs().trim().fix_CRLF().lines().removeEmpty().reverse(); 
}

<h4>Debug Info</h4>

Firebase Offline Logs: <a href="Firebase_Offline_Activities">Activites</a>, <a href="Firebase_Offline_DebugMsgs">Debug Messages</a>, <a href="Firebase_Offline_RequestUrls">Request Urls</a>
<h5>TM Config values</h5>        
    <ul>
        <pre>
<strong>TM_Xml_Database.Current.Path_XmlDatabase</strong>          : @TM_Xml_Database.Current.Path_XmlDatabase
<strong>TM_Xml_Database.Current.Path_XmlLibraries</strong>         : @TM_Xml_Database.Current.Path_XmlLibraries
<strong>TM_UserData.Current.Path_UserData</strong>                 : @TM_UserData.Current.Path_UserData
<strong>AppDomain.CurrentDomain.BaseDirectory</strong>             : @AppDomain.CurrentDomain.BaseDirectory
<strong>O2 Temp Dir</strong>                                       : @PublicDI.config.O2TempDir<br /></pre>
    </ul>        
<br/>
 
<h5>Session Values</h5>        
    <ul>
        @foreach (string key in session.Keys)
        {
            <li>@key: @session[key]</li>
        }
    </ul>

<br />
<h5>Logs (latest first)</h5>
<ul>
    <code>@foreach (var line in log_Lines)
                 {        
                     var color = "black";
                     if (line.starts("DEBUG:"))
                     {   color = "green"; }
                     else if (line.starts(new List<string> {"ERROR:", "Exception:"}))
                     {   color = "red"; }        
                     <span style='color:@color'>@line</span><br/>
                 }        
           </code>     
</ul>            


