
@using System
@using System.Security.Principal
@using System.Web
@using System.Web.SessionState;
@using System.Collections;
@using FluentSharp.CoreLib
@using TeamMentor.CoreLib

Here are the current IIS sessions (and its Session Variables):
<pre>
@{
    var caches = (object[])typeof(HttpRuntime).prop("CacheInternal").field("_caches");
    
    foreach (var cache in caches)
    {
        "cache: {0}".info(cache);
        var entries = (Hashtable) cache.field("_entries");
        foreach (DictionaryEntry entry in entries)
        {
            var key = entry.Value.prop("Key");
            var value = entry.Value.prop("Value");
            if (value.str() == "System.Web.SessionState.InProcSessionState")
            {
                <text>
<b>For SessionState: @key </b>
                </text>                
                var sessionItems = (SessionStateItemCollection) value.field("_sessionItems");
                if (sessionItems.notNull())
                {
                    foreach (string sessionItemKey in sessionItems.toList())
                    {                        
                        if (sessionItemKey == "sessionID" && sessionItems[sessionItemKey].str().isGuid() && sessionItems[sessionItemKey].str().guid() != Guid.Empty)
                        {
                            var sessionId = sessionItems[sessionItemKey].str().guid();
                            var tmUser = sessionId.session_TmUser();
                            
                            if (tmUser.notNull())
                            {
                                <text> <b>UserName: <a href="User_Activities?userName=@tmUser.UserName" target='blank'>@tmUser.UserName</a> </b></text>
                                <text>      SessionID: @sessionItemKey = @sessionItems[sessionItemKey] </text>                                
                                <text>      UserId   : @tmUser.UserID </text>
                            }
                            else
                            {
                                <text> : @sessionItemKey = @sessionItems[sessionItemKey] </text>
                            }
                        }
                        else if (@sessionItems[sessionItemKey] is GenericPrincipal)
                        {
                            var principal = (GenericPrincipal)sessionItems[sessionItemKey];                                                        
                                <text>      Roles = @principal.roles().asString() </text>                            
                        }
                        else
                        {
                            <text> : @sessionItemKey = @sessionItems[sessionItemKey] </text>                            
                        }

                    }
                }                
            }
//        "    entry: {0} = {1}".info(key, value);        
        }
    }
}

</pre>
